.header {
    width: 100%;
    float: left;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 4px solid rgb(4, 196, 148);
    .logo {
        float: left;
        color: rgb(4, 196, 148);
        font-size: 20px;
    }
    .nav {
        float: right;
        ul {
            list-style: none;
            li {
                float: left;
                padding-left: 20px;
                .actived {
                    font-weight: bold;
                    color: #0579af;
                }
            }
        }
    }
}
