@import 'setting';
@import 'common';
@import 'header';
$green: #40bd56;
$darkGreen: #4aa05a;
$blue: #0ca1f9;
$darkBlue: rgb(63, 137, 185);
$dark: #252525;
$softDark: #353535;
$thinShadow: 0 1px 1px rgba(0, 0, 0, 0.3);
$normalShadow: 0 2px 2px rgba(0, 0, 0, 0.3);
$transition: all 0.3s ease-in;
$red: red;
$orange: #f99a0c;

.main-content {
    width: 100%;
    min-height: 600px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    .show {
        display: block;
    }
    .hide {
        display: none !important;
    }
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    input {
        outline: none;
    }
    .bold {
        font-weight: bold;
    }

    .btn {
        border-radius: 25px;
        i {
            margin-right: 5px;
            font-size: 18px;
            &.left {
                margin-right: 5px;
                margin-left: 0;
            }
            &.right {
                margin-left: 5px;
                margin-right: 0;
            }
        }
        &:disabled {
            background: #ccc;
            color: #666;
            i {
                color: #666;
            }
        }
        &.create-btn {
            &:disabled {
                background: rgb(92, 157, 187);
                color: #fff;
            }
        }
    }
    .btn-small {
        font-size: 12px;
        padding: 3px 15px 4px 12px;
        i {
            font-size: 12px;
        }
    }
    .btn-normal {
        font-size: 14px;
        padding: 6px 25px 7px 25px;
    }
    .btn-medium {
        font-size: 20px;
        padding: 10px 35px;
    }
    .btn-green {
        background-color: $green;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-red {
        background-color: $red;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-gray {
        background-color: #eee;
        box-shadow: $thinShadow;
        color: #888;
        i {
            color: #888;
        }
        &:hover {
            background: #5ca16a;
            color: #fff;
        }
    }
    .btn-blue {
        background-color: $blue;
        color: #fff;
        &:disabled {
            background-color: rgb(142, 174, 201);
            color: rgb(217, 230, 241);
            i {
                color: rgb(217, 230, 241);
            }
        }
        i {
            color: #fff;
        }
    }
    .btn-white {
        background-color: #fff;
        color: $darkBlue;
        i {
            color: $darkBlue;
        }
        box-shadow: $thinShadow;
    }
    .btn-default {
        background-color: #f9f9f9;
        color: $dark;
        i {
            color: $dark;
        }
        box-shadow: $thinShadow;
    }
    .btn-orange {
        background-color: $orange;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-dark {
        background-color: #555;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-loading {
        svg {
            color: #fff;
        }
    }
    .btn-dark-green {
        background-color: #428d51;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-icon {
        &.btn-normal {
            font-size: 20px;
        }
        &.btn-medium {
            font-size: 26px;
        }
    }
    .btn-right {
        margin-left: 10px;
    }
    .btn-left {
        margin-right: 10px;
    }
    .green {
        color: $green;
    }
    .red {
        color: $red;
    }
    .blue {
        color: $blue;
    }
    .gray {
        color: gray;
    }
    .btn-left {
        float: right;
    }
    .top {
        padding: 20px 0;
        border-bottom: 4px solid #d2e0e7;
        .buttons {
            button {
                margin-right: 15px;
                &.actived {
                    color: #fff;
                    background: $green;
                }
            }
        }
        .search {
            padding-right: 40px;
            position: relative;
            input {
                padding: 5px;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid #ddd;
            }
            i {
                position: absolute;
                margin-right: 50px;
                margin-top: 6px;
                right: 0;
                color: $blue;
            }
        }
    }
    .main {
        padding: 20px;
        background: #f9f9f9;
        box-shadow: $thinShadow;
        min-height: 300px;
        .left {
            padding-right: 20px;
            width: 100%;
            .left-title {
                font-size: 22px;
                padding: 0 0 20px 0;
                color: $darkBlue;
                line-height: 22px;
            }
            .loading {
                padding: 50px;
                min-height: 200px;
            }
            .chart {
                height: 500px;
                canvas {
                    height: 100% !important;
                }
            }
        }
    }
    .warning {
        color: #666;
        i {
            color: $orange;
            margin-right: 10px;
        }
    }
    .right {
        background: #444;
        color: #fff;
        .right-title {
            padding: 20px;
            font-size: 18px;
            background: $darkBlue;
        }
        .right-filter {
            padding: 20px;
            position: relative;
            input {
                font-size: 16px;
                padding: 10px 40px 10px 10px;
                width: 100%;
                box-sizing: border-box;
                border: none;
            }
            i {
                color: #bbb;
                position: absolute;
                margin-right: 30px;
                margin-top: 11px;
                right: 0;
            }
        }
        .right-content {
            padding: 0 20px;
            height: 400px;
            overflow-y: scroll;
            .no-data {
                color: #888;
            }
            ul {
                li {
                    padding-bottom: 10px;
                    width: 100%;
                    color: #ccc;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #555;
                    span {
                        font-weight: bold;
                        float: right;
                        color: #fff;
                    }
                }
            }
        }
    }
}
/* Responsive css code */
@media screen and (min-width: 1899px) {
    .main-content {
        .main {
            .left {
                .chart {
                    height: 600px;
                }
            }
            .right {
                .right-content {
                    height: 500px;
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .main-content {
        .top {
            padding-bottom: 0;
            .search,
            .buttons {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                padding: 10px;
            }
            .search {
                input {
                    padding: 10px;
                }
                i {
                    margin-right: 30px;
                    margin-top: 12px;
                }
            }
            .buttons {
                button {
                    margin-bottom: 20px;
                }
            }
        }
        .main {
            padding: 10px;
            .left,
            .right {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
            }
            .left {
                padding: 0;
                margin-bottom: 20px;
                .left-title {
                    padding: 20px;
                }
                .chart {
                    height: inherit;
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .main-content {
        padding: 0;
        .main {
            .left {
                .left-title {
                    font-size: 18px;
                }
            }
        }
    }
}
